includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5 # Level 0-9, level 5 adalah standar yang baik untuk tugas akhir
    ignoreErrors:
    excludePaths: